* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.78);
    font-weight: 400;
    /* scroll-behavior: smooth; */
}

#main {
    background-color: #fff;
    overflow-x: hidden;
}


/* Header */
#header {
}
#header .header-inner {
    padding: 50px 36px;
    
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .top-left {
    display: flex;
    justify-content: flex-start;
    flex: 0.8;
}

#header .top-left .logo {
    max-width: 280px;
    width: 100%;
    padding: 1px 24px;
    min-width: 150px;
}

#header .top-right {
    height: 18px;
    padding: 1px 24px;
    display: flex;
    justify-content: flex-end;
    flex: 1.1;
}

#header .the4 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 3px;
}

#header .the1:hover,
#header .the4 a:hover {
    color: #000;
}

#header .top-right .the4 {
    padding: 1px 24px;
    display: inline-block;
}


#header .the1 {
    padding: 1px 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.btn-mobile {
    width: 20px;
    padding: 20px 36px;
    display: none;
    color: rgba(0, 0, 0, 0.6);
}
.btn-mobile:hover {
    cursor: pointer;
    color: #000;
}/* đang làm dở phần hiện bar mobile*/




/* Toast-messages */
.toast {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sideInRight ease 5s, fadeOut linear 1s 7s forwards ;
    position: fixed;
    top:20%;
    left: 0; right: 0;
}
.toast__main {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 4px;
    border-left: 3px solid rgba(0, 0, 0, 0.705);
}
.toast__main .toast__title {
    align-self: center;
}

.toast__icon {
    font-size: 12px;
    align-self: self-start;
}


@keyframes sideInRight {
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{ opacity: 0;}
}







/* Slider */
#slider {
    padding: 30px 60px 0;
}


/* AboutTabOpen */
.main-nav__About {
    padding: 30px 60px;
    display: none;
}
.box-text-about{
    display: flex;
}

.main-nav__About.js-main.open {
    display: block;
}

.main-nav__About p {
    display: flex;
    flex: 1;
    padding: 0 0px 17px 0px;
}
.empty{
    padding: 0 17px 17px;
    display: flex;
    flex: 0.5;
}
.main-nav__About .nav-about {
    width: 53vw;
}



/* Content */
#content {
    padding: 0 60px 60px;
}
.content-inner {
    display: flex;
    flex-wrap: wrap;
}
.content-inner.close {
    display: none;
}
#content .list-magazine {
    max-width: 20%;
    margin-bottom: 60px;
    text-decoration: none;
    color: rgba(0,0,0,.78);
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}
#content .magazine-item {
    width: 100%;
}

#content .about-item {
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-weight: 500;
}
.price-item {
    color: #8d5707;
    font-size: 12px;
    font-weight: 567;
}


/* Footer */
#footer {
    background-color: rgba(0, 0, 0, 0.05);
}
.footer__footer-inner {
    padding: 20px 60px;
}
.footer__footer-inner__main1{
    display: flex;
    padding: 20px;
    margin: -20px;
    line-height: 1.4;
}
.footer__footer-inner__main2 a,
.footer__footer-inner__main1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.footer__footer-inner__main2 a:hover,
.footer__footer-inner__main1 a:hover{
    color: #000;
}
.footer__footer-inner__main2 {
    padding-top: 40px;
    line-height: 1.4;
}
.footer__footer-inner__main2 a{
    margin-right: 6px;
}
#footer p {
    margin: 20px 17px 17px 0;
    padding-top: 17px;
}
.about-a{
    display: flex;
    flex-direction: column; 
}




/* test-tab-nav-mobile */
.tab-nav{
 display: none;
}
.tab-nav.tab-nav-js.open{
    display: block;
}
.tab-nav--layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.068);
    z-index: 1
}
.the-i {
    position: absolute;
    right: 19px;
    top: 10px;
    font-size: 26px;
}
.the4-2 {
    width: 90%;
    min-height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    animation: intoSlide ease 0.2s;
    justify-content: center;
}
.the4-2-1 {
    width: 100%;
}
.nav-one {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 50%;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0,0,0,.7);
}

.nav-one:hover {
    cursor: pointer;
    color: #000;
    opacity: 1;
}

@keyframes intoSlide {
    from {  
        transform: translateX(-200px);
    }
    to { 
        transform: translateX(0);
    }
}