* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.78);
    font-weight: 400;
    /* scroll-behavior: smooth; */
    font-size: 100%;
    box-sizing: border-box;
}
:root {
    --gold-color: #8d5707;
    --white-color: #FFF;
    --black-color:#000;
    --text-color: rgba(0, 0, 0, 0.78);
    --text-nav-color:rgba(0, 0, 0, 0.6);
}

#main {
    background-color: #fff;
    overflow-x: hidden;
}


/* Header */
#header .header-inner {
    padding: 50px 36px;
    
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .top-left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
#header .top-left .logo-link {
    padding: 1px 24px;
}
#header .top-left .logo {
    max-width: 280px;
    width: 100%;
    min-width: 150px;
}

#header .top-right {
    height: 18px;
    padding: 1px 24px;
    display: flex;
    justify-content: flex-end;
    flex: 1.1;
}
#header .nav-menu a {
    text-decoration: none;
    color: var(--text-nav-color);
    margin: 0 3px;
    padding-top: 9px;
    padding-bottom: 9px;
}

#header .cart-sold:hover,
#header .nav-menu a:hover {
    color: #000;
}

#header .top-right .nav-menu{
    padding: 1px 24px;
    display: inline-block;
}


#header .cart-sold {
    padding: 1px 24px;
    text-decoration: none;
    color: var(--text-nav-color);
}
.btn-mobile {
    width: 20px;
    padding: 20px 36px;
    display: none;
    color: var(--text-nav-color);
}
.btn-mobile:hover {
    cursor: pointer;
    color: #000;
}/* đang làm dở phần hiện bar mobile*/




/* Toast-messages */
.toast {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: sideInRight ease 5s, fadeOut linear 1s 7s forwards ;
    position: fixed;
    top: 100px;
    left: 0; right: 0;
    z-index: 9;
}
.toast__main {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 4px;
    border-left: 3px solid rgba(0, 0, 0, 0.705);
    background-color: rgba(204, 204, 204, 0.5);
    z-index: 1;
}
.toast__main .toast__title {
    align-self: center;
}

.toast__icon {
    font-size: 12px;
    align-self: self-start;
}


@keyframes sideInRight {
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{ opacity: 0;}
}


/* Slider */
#slider {
    padding: 30px 60px 0;
    display: none;
}





/* AboutTabOpen */
.main-nav__About {
    padding: 30px 60px;
    display: none;
}
.box-text-about{
    display: flex;
}

.main-nav__About.js-main-about.open {
    display: block;
}

.main-nav__About p {
    display: flex;
    flex: 1;
    padding: 0 0px 17px 0px;
    text-align: justify;
    font-size: 17px;
}
.empty{
    padding: 0 17px 17px;
    display: flex;
    flex: 0.65;
}
.main-nav__About .nav-about {
    width: 53vw;
    padding: 0 0 17px 0;
}

/* StockistsTabOpen */
.main-nav__Stockists {
    margin: 30px 60px ;
    display: none;
}
.main-nav__Stockists.js-main-stock.open {
    display: block;
}
.main-nav__stockists-inner {
    display: flex;
    justify-content: flex-start;
}
.stockists-inner {
    flex: 1;
    padding: 0 17px 17px 0;
}
.main-nav__Stockists h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 0;
    text-transform: none;
}
.main-nav__Stockists h2 {
    font-size: 16px;
    font-weight: 500;
    color: #925c0c;
    margin: 15px 0 13px 0;
    line-height: 28px;
    font-style: normal;
    text-transform: none;
    letter-spacing: 0;
}
.main-nav__Stockists p {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 16px 0;
    line-height: 25px;
    color: var(--text-color);
}
.stockists-inner a{
    border-bottom: 1px solid rgba(0,0,0,.234);
    color: var(--text-color);
    text-decoration: none;
    transition: border-color .15s ease-out,color .15s ease-out
}
.stockists-inner a:hover{
    color: rgba(0,0,0,.468);
    border-color: rgba(0,0,0,.117);
}

/*StoryTabOpen */
.main-nav__Stories {
    margin: 30px 60px;
    display: none;
}
.open {
    display: block;
}
.blog-list__container {
    margin: 30px 0;
}
.blog-list__link {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}
.blog-list__link-img {
    max-width: 720px;
    width: 100%;
}
.blog-list__link-title {
    font-size: 20px;
    margin: 5px 0 5px;
}
.blog-list__link-type {
    font-size: 14px;
    color: #99600b;
}
.blog-list__link-type span {
    margin-right: 6px;
}
.main-nav__blog-list-pagination {
    display: flex;
    justify-content: center;
}
.blog-list-pagination {
    width: 9px;
    height: 16px;
    color: #99600b;
    line-height: 0;
}
.blog-list-pagination:hover {
    opacity: 0.6;
} 
.main-nav__blog-list-page2 {
    display: none;
}
.close-page {
    display: none;
}
.open-page {
    display: block;
}
#blog {
    position: relative;
    top: -135px;
}




/* Content */
.content-inner {
    padding: 30px 30px 0 60px;
    display: flex;
    flex-wrap: wrap;
}
.content-inner.close {
    display: none;
}
#content .list-magazine {
    max-width: 20%;
    margin-bottom: 50px;
    padding-right: 30px;
}
.list-magazine__link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    position: relative;
}
.list-magazine__link--soldout .soldOut {
    display: block;
}
.soldOut {
    display: none;
    position: absolute;
    width: 35px;
    height: 32px;
    font-size: 0.6rem;
    FONT-WEIGHT: 600;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    background: #c8ae88;
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0 0;
}
.soldOut::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 17.5px 5px;
    border-style: solid;
    border-color: transparent #c8ae88 transparent #c8ae88;

}
#content .magazine-item {
    width: 100%;
}

#content .about-item {
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-weight: 500;
}
.price-item {
    color: var(--gold-color);
    font-size: 12px;
    font-weight: 567;
}


.content-inner-list {
    margin: 30px 60px;
}
.content-inner-list.close {
    display: none;
}
.list-magazine-inner1, .list-magazine-inner2,.list-magazine-inner3, .list-magazine-inner4,.list-magazine-inner5,
.list-magazine-inner6, .list-magazine-inner7,.list-magazine-inner8, .list-magazine-inner9, .list-magazine-inner10,
.list-magazine-inner11 {
    display: none;
}
.list-magazine-inner {
    display: flex;
}


.list-magazine-inner-left {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 10px;
    width: 67%;

}
.magazine-heading {
    font-size: 15px;
    color: #0f0f0f;
    margin: 0 0 25px;
    font-weight: 600;
}
.magazine-container {
    margin: 0 0 25px;
}
.magazine-container > p:nth-child(1) {
    font-size: 13px;
    margin: 0 0 13px;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
}
.magazine-container > p:nth-child(2) {
    font-size: 13px;
    margin: 13px 0;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
}
.list-abuot-item {
    margin: 13px 0;
    padding: 0 0 0 40px;
    list-style: none;
}
.list-abuot-item li {
    font-size: 13px;
    margin: 0;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}
.list-abuot-item p::before {
    content: ".";
    padding-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    min-width: 40px;
    margin-left: -40px;
    text-align: right;
    font-size: 20px;
}

.span-dsv {
    font-size: 12px;
    font-weight: 567;
    display: block;
    margin: 0 0 25px;
    color: var(--gold-color);
}
.quantity-box{
    margin: 0 0 25px;
}
.quantiyy-label {
    font-size: 12px;
    margin: 0 0 6px;
}
.quantity-box input {
    padding: 7.5px 9.5px;
    background-color: #e0e0e0;
    border: 2px solid rgba(238,238,238,0);
}
.btn-quantity-box {
    margin: 0 0 25px;
}
.btn-quantity {
    display: inline-block;
    padding: 13px 26px;
    width: auto;
    height: auto;
    background-color: #e0e0e0;

}
.btn-quantity:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn-quantity button {
    outline: none;
    border:none ;
    font-size: 13px;
    text-align: center;
    background-color: transparent;
    color: #000000B5;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    list-style: none;
    cursor: pointer;
}

.list-magazine-inner-right {
    width: 34%;
    position: relative;
}
.imgShow1{
    position: relative; 
    /* chú ý rằng để 1img này làm gốc nếu để
    là position:absolute thì n sẽ ko chiếm diện tích trên thẻ nữa đồng
    nghĩa sẽ đẩy list-img-album lên thế chỗ nó */
}
.imgShow2,
.imgShow3,
.imgShow4,
.imgShow5,
.imgShow6,
.imgShow7,
.imgShow8,
.imgShow9,
.imgShow10,
.imgShow11,
.imgShow12,
.imgShow13,
.imgShow14 {
    position: absolute;
    left: 0;
}

.list-magazine-img {
    --height-width: 406px;
    max-width: var(--height-width);
    max-height: var(--height-width);
    width: 100%;
}
.open-img {
    z-index: 2;
}



.list-img-albums {
    display: flex;
    flex-wrap: wrap;
    max-width: 406px;
}
.list-img-albums > img {
    width: 55px;
    height: 55px;
    margin: 8px 3px 0 0;
    cursor: pointer;
}
.open-inner {
    display: block;
}


/* Footer */
#footer {
    background-color: rgba(0, 0, 0, 0.05);
}
.footer__footer-inner {
    padding: 20px 60px;
}
.footer__footer-inner__main1{
    display: flex;
    padding: 20px;
    margin: -20px;
    line-height: 1.4;
}
.footer__footer-inner__main2 a,
.footer__footer-inner__main1 a{
    text-decoration: none;
    color: var(--text-nav-color);
}
.footer__footer-inner__main2 a:hover,
.footer__footer-inner__main1 a:hover{
    color: #000;
}
.footer__footer-inner__main2 {
    padding-top: 40px;
    line-height: 1.4;
}
.footer__footer-inner__main2 a{
    margin-right: 6px;
}
#footer p {
    margin: 20px 17px 17px 0;
    padding-top: 17px;
}
.about-a{
    display: flex;
    flex-direction: column; 
}


/* tab-nav-mobile */
.tab-nav{
    display: none;
}
.tab-nav.tab-nav-js.open{
    display: block;
}
.tab-nav--layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.068);
    z-index: 19
}
.the-i {
    position: absolute;
    right: 19px;
    top: 10px;
    font-size: 26px;
    color: #000;
    /* display: none; */
}
.nav-mobile-menu {
    width: 90%;
    min-height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 20;
    top: 0;
    display: flex;
    animation: intoSlide ease 0.2s;
    will-change: transform;
    justify-content: center;
}
.nav-mobile-menu-inner {
    width: 100%;
}
.nav-one {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 50%;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-nav-color);
}
.nav-one:hover {
    cursor: pointer;
    opacity: 1;
    animation: colorText linear 1s;
    animation-iteration-count: infinite;
}

@keyframes colorText {
    0% {color: rgba(0, 0, 0, 0.06);}
    20% {color: rgba(0, 0, 0, 0.12);}
    40% {color: rgba(0, 0, 0, 0.24);}
    60% {color: rgba(0, 0, 0, 0.48);}
    80% {color: rgba(0, 0, 0, 0.96);}
    100% {color: rgba(0, 0, 0,);}
}

@keyframes intoSlide {
    from {  
        transform: translateX(-200px);
    }
    to { 
        transform: translateX(0);
    }
}