/* PC */
@media (min-width: 1024px) {
    
}


/* tablet */
@media (max-width: 1023px) and (min-width: 740px) {
  
}


/* mobile */
@media (max-width: 739px) {
    #header .header-inner {
        padding: 24px 12px;
        position: fixed;
        background-color: #fff;
        height: 6%;
        width: 100%;
    }
    #header .top-left{
        flex: 1.8;
        order: 2;
        padding: 8px;
        justify-content: center;
    }
    #header .top-left .logo {
        padding: 0;
    }
    #header .top-right {
        padding: 1px;
        display: inline-block;
        flex: 0.8;
    }
    #header .top-right .the4{
        display: none;
    }
    #header .the1 {
        order: 1;
        padding: 8px;
        font-size: 12px;
        display: table-row-group;
    }
    .btn-mobile {
        padding: 8px;
        display: flex;
        justify-content: flex-end;
        order: 3;
        flex: 0.6;
    }


    .toast {
        margin: 0 18%;
    }




    .empty {
        display: none;
    }
    .main-nav__About {
        padding: 30px 20px;
    }
    .main-nav__About .nav-about {
        width: 100%;
        margin-bottom: 17px;
    }


    #content {
        padding: 38px 20px 45px;
    }
    #content .list-magazine {
        max-width: 50%;
        padding: 0 10px;
        margin: 15px 0;
    }


}