/* PC */
@media (min-width: 1024px) {
    
}


/* tablet */
@media (max-width: 1023px) and (min-width: 740px) {
    .show-albums {
        height: 39%;
    }
}


/* mobile */
@media (max-width: 739px) {
    #header .header-inner {
        padding: 24px 12px;
        position: fixed;
        background-color: #fff;
        height: 6%;
        width: 100%;
        z-index: 10;
    }
    #header .top-left{
        flex: 1.8;
        order: 2;
        padding: 8px;
        justify-content: center;
    }
    #header .top-left .logo {
        padding: 0;
    }
    #header .top-right {
        padding: 1px;
        display: inline-block;
        flex: 0.8;
    }
    #header .top-right .nav-menu{
        display: none;
    }
    #header .cart-sold {
        order: 1;
        padding: 8px;
        font-size: 12px;
        position: absolute;
        top: 8px;
        left: 16px;
    }
    .btn-mobile {
        padding: 8px;
        display: flex;
        justify-content: flex-end;
        order: 3;
        flex: 0.6;
    }


    .toast {
        margin: 0 18%;
    }




    .empty {
        display: none;
    }
    .main-nav__About {
        padding: 40px 20px;
        margin-top: 20px;
    }
    .main-nav__About .nav-about {
        width: 100%;
        margin-bottom: 17px;
    }

    .stockists-inner {
        padding: 0;
    }
    .main-nav__Stockists {
        margin: 40px 20px 30px;
        padding-top: 20px;
    }
    .main-nav__stockists-inner {
        display: inline-block;
    }
    .stockists-inner-empty {display: none;}
    .stockists-inner1{ padding: 17px 0;}
    .stockists-inner2{ padding: 17px 0;}
    .stockists-inner3{ padding: 17px 0;}
    .stockists-inner4{ padding: 17px 0;}

    .main-nav__Stories {
        margin: 50px 20px 30px;
    }




    .content-inner {
        padding: 40px 20px 45px;
        margin-top: 10px;
    }
    #content .list-magazine {
        max-width: 50%;
        padding: 0 10px;
        margin: 15px 0;
    }
    .soldOut {
        position: absolute;
    width: 30px;
    height: 25px;
    font-size: 0.5rem;
    }
    .soldOut::after {
        border-width: 1px 15px 5px;
    }


/* tí sửa tiếp phần này */
    .content-inner-list {
        margin: 75px 20px;
    }
    .list-magazine-inner {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .list-magazine-inner-left {
        padding-right: 0;
        width: 100%;
    }
    .magazine-heading{ /* sửa đi thôi */
        position: absolute;
        top: -25px;
    }
    .list-magazine-inner-right {
        width: 100%;
        padding: 0 0 25px;
    }
    .show-albums {
        height: 380px;
        max-height: 100%;
        margin-top: 68px;
    }
}